aiohttp
async-timeout
asyncssh
asyncstdlib
argon2-cffi
beautifulsoup4==4.12.3
feedparser
black
bokeh
numpy
channels
chardet
django~=5.2.9
django-cms
djangocms-attributes-field
django_compressor
django_compressor_toolkit
django-configurations>=2.4
django-cors-headers
django-easy-logging
django-extensions
django-filer
django-filter
django-memoize
django-minio-storage
django-pipeline
django-prometheus
django-recaptcha==4.0.0
django-regex-field
djangorestframework
django-stubs
django-stubs-ext
django-tables2
django-treebeard
django-types
django_user_agents
dnspython
django-otp
django-two-factor-auth
django-mfa2
coverage
drf-spectacular
easy_thumbnails
exceptionite
flake8-django
geopy
git+https://github.com/holdenk/static-thumbnails.git
git+https://github.com/jazzband/django-cookie-consent.git#egg=django-cookie-consent
git+https://github.com/fighthealthinsurance/django-encrypted-model-fields.git@d96965e40e8b40da72fbc78cb968258a4d1bcdf1
git+https://github.com/fighthealthinsurance/llm-result-utils.git@f24e0bf7fa485d682fe3e42df831623c55844462
icd10-cm
loguru
markdown_strings
metapub==0.5.12
nest_asyncio
packaging>=20.0
pandoc
paramiko
Pillow
pyarrow
pymupdf
pyOpenSSL
PyPDF2
pyright
pytesseract # We either need easyocr + opencv-python OR pytesseract + tesseract (so alt is easyocr>=1.7.0 opencv-python)
python-decouple==3.8
python-Levenshtein
pytz
pyyaml
RapidFuzz==2.15.1 # See https://github.com/mindee/doctr/issues/1186
ray==2.53.0 # Must update build_ray
ray[client]==2.53.0 # Must update build_ray
requests
sentry-sdk[django]
setuptools>=58
sorl-thumbnail
sqlalchemy_mate==2.0.0.0 # uszipcode issue see https://github.com/MacHu-GWU/uszipcode-project/issues/79
stopit
stripe==12.2.0
totallylegit-django-rest-framework-braces # forked from django-rest-framework-braces
types-paramiko
types-requests
typing-extensions
types-python-dateutil
urllib3
uszipcode
uvicorn[standard]
werkzeug
python-dateutil
