{% extends "./fhi_base_email.html" %}
{% block title %}Your appeal letters on Fight Health Insurance{% endblock %}
{% block content %}
<p>Hi,</p>
<p>
You agreed to our terms so your AI assistant could bring your appeal letters back to your chat. If you'd rather finish on our site, the same letters will be there as soon as they're written.
</p>
{% include "emails/partials/button.html" with href=url label="Open my appeal letters" %}
<p>
The link works for {{ days }} days. To keep your case private, it will ask for this email address.
</p>
<p>
Nothing has been sent to your insurer. You pick a letter, edit it, and send it yourself.
</p>
<p>
If you didn't ask for this, you can ignore this email.
</p>
<p>
The team at Fight Health Insurance and Timbit
</p>
{% endblock %}
