{% extends "./fhi_base_email.html" %}
{% block title %}Confirm your data deletion request{% endblock %}
{% block content %}
<p>Hi,</p>
<p>
We received a request to delete all data associated with {{ email }}. To confirm the deletion, use the button below.
</p>
{% include "emails/partials/button.html" with href=confirmation_link label="Confirm deletion" %}
<p>
This link expires in 24 hours. If you didn't make this request, you can safely ignore this email.
</p>
<p>
The team at Fight Health Insurance and Timbit
</p>
{% endblock %}
