{% extends './base_email.html' %}
{% block title %}Draft appeal on Fight Paperwork{% endblock %}
{% block content %}
<p>Hello,</p>
<p>
You have been invited to join your healthcare professional in appealing another health insurance denial you received.
</p>
<p>
To make sure you're in the same group when you sign up, use the practice phone number {{ practice_number }}.
</p>
<p>
If you have any questions, email us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.
</p>
<p>
We are also planning to conduct user studies at the end of this month. If you're willing to share feedback with us on the new workflow before we release it, email us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.
</p>
<p>
A huge thank you,
</p>
<p>
The Fight Paperwork team, our dogs, and our cats.
</p>
{% endblock %}
