Hello,<br>
<p>
First off, thank you for using Fight Health Insurance to generate an appeal and choosing the follow-up option.
</p>
<p>
{% if selected_appeal %}
I'm checking in to see if you were able to submit your appeal and if so if the insurance company has responded. Any additional feedback on how we can improve the process would be appreciated.
{% elif generated_proposals %}
It looks like we generated draft proposals, but you may not have found one that felt right. Thank you for trying Fight Health Insurance — we'd really value your feedback on how we can do better.
{% else %}
It looks like we didn't manage to generate a proposal this time. Thank you for giving Fight Health Insurance a try — we'd really value your feedback on how we can improve.
{% endif %}
</p>

<p>
  If you can fill-out <a href="{{ followup_link }}">the follow up form that would be greatly appreciated</a>.
</p>
<p>
  If you're more comfortable sharing feedback over e-mail, you can also just reply to this message and I'll take a look :) Please keep in mind that e-mail is not encrypted, so if you'd rather not include personal or medical details in your reply, the follow-up form above is the more private option.
</p>
<p>
  Thank you for being part of our community! If you found Fight Health Insurance helpful, there are many ways you can help us and others fighting unfair denials:
</p>
<ul>
  <li>Share your experience with friends and family who might need help</li>
  <li>Follow us on social media to help spread awareness</li>
  <li>Learn more at: <a href="https://www.fighthealthinsurance.com/how-to-help">fighthealthinsurance.com/how-to-help</a></li>
</ul>

<p>
  Wishing you the best of luck with your fight with insurance,
</p>
<br>
The Fight Health Insurance team<br/>
<br>
---<br>
<a href="https://www.fighthealthinsurance.com">https://www.fighthealthinsurance.com</a>
