{% extends "./fhi_base_email.html" %}
{% block title %}Following up from Fight Health Insurance{% endblock %}
{% block content %}
<p>Hi,</p>
<p>
Thank you for trying Fight Health Insurance and for letting us check in afterward.
</p>
<p>
{% if selected_appeal %}
We're checking in to see if you were able to submit your appeal and, if so, whether your insurance company has responded. Any feedback on how we can improve the process is welcome.
{% elif generated_proposals %}
It looks like we generated draft appeals, but you may not have found one that felt right. We'd value your feedback on how we can do better.
{% else %}
It looks like we weren't able to generate an appeal this time. We'd value your feedback on how we can improve.
{% endif %}
</p>
<p>
If you have a minute, please fill out the follow-up form.
</p>
{% include "emails/partials/button.html" with href=followup_link label="Fill out the follow-up form" %}
<p>
You can also reply to this email, and we'll take a look.
</p>
{% include "emails/partials/how_to_help.html" %}
<p>
Wishing you the best of luck in your fight with your insurance company,
</p>
<p>
The team at Fight Health Insurance and Timbit
</p>
{% endblock %}
