{% extends "emails/fhi_base_email.html" %}
{% block title %}Welcome to Fight Health Insurance{% endblock %}
{% block content %}
<p>Hello,</p>
<p>
You have been invited to join your healthcare professional in appealing the health insurance denial you received. You can sign up for Fight Health Insurance and help your professional appeal this denial.
</p>
<p>
To make sure you're in the right group when you sign up, use the practice phone number {{ practice_number }}.
</p>
{% include "emails/partials/button.html" with href="https://www.fighthealthinsurance.com/" label="Sign up for Fight Health Insurance" %}
<p>
According to some studies, when patients are involved, appeals have nearly a 90% success rate.
</p>
<p>
If you have any questions, email us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.
</p>
<p>
A huge thank you,
</p>
<p>
The Fight Health Insurance team, our dogs, and our cats.
</p>
{% endblock %}
