{% extends "emails/fhi_base_email.html" %}
{% block title %}Your checkout expired{% endblock %}
{% block content %}
<p>
Hi,
</p>
<p>
Your checkout session expired before you finished. You can still finish it using the button below.
</p>
{% include "emails/partials/button.html" with href=link label="Finish checkout" %}
<p>
If you have any questions, email our support team at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.
</p>
<p>
The team at Fight Health Insurance and Timbit
</p>
{% endblock %}
