<!DOCTYPE html>
<html>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.2.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.6.2.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.6.2.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.6.2.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.6.2.min.js"
          crossorigin="anonymous"></script>
  <head>
    <title>{{ title|default:"Bokeh Chart" }}</title>
    {{ script | safe }}
  </head>
  <body>
    <h1>{{ title|default:"Chart" }}</h1>
    <div class="graph">
      {{ div | safe }}
    </div>
    <h2>Data</h2>
    <div class="data">
      {{ df_html|safe }}
    </div>
    <h2>Summary</h2>
    <div class="totals">
      {{ totals_html|safe }}
    </div>
  </body>
</html>
