{% extends 'base.html' %}
{% block title %}
Confirm Data Deletion
{% endblock title %}
{% block content %}

<!-- HOME -->
<section id="delete-data">
    <div class="container-narrow">
        {% include "partials/page_title.html" with title="Confirm Data Deletion" %}
        <p>You are about to permanently delete all data associated with <strong>{{ email }}</strong>.</p>
        <p>This action cannot be undone.</p>
        <form action="{% url 'confirm_delete_data' %}" method="post" class="mt-3">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="email" value="{{ email }}">
            <button type="submit" class="btn btn-delete">Confirm Deletion</button>
        </form>
    </div>
</section>

{% endblock content %}
