{% extends 'base.html' %}
{% block title %}
Fax ReSend
{% endblock title %}

{% load compress %}
{% load static %}

{% block scriptmagic %}
{% endblock scriptmagic %}
{% block content %}
<div class="fhi-page">
{% include "partials/page_title.html" with title="Resend Your Fax" %}
<div class="fhi-stack">
<p>Thank you so much for using fight health insurance.
</p>
<section class="scan-section">
  <form class="fhi-stack" action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="scroll-x">
	<table class="fhi-form-table">
	  {{ form.as_table }}
	</table>
    </div>
    <button type="submit" id="submit" class="fhi-button fhi-button-primary">Resubmit</button>
  </form>
</section>
</div>
</div>
{% endblock content %}
