{% extends 'base.html' %}
{% block title %}
Thank you!
{% endblock title %}

{% load compress %}
{% load static %}

{% block scriptmagic %}
<script type="module">
  import * as main from '{% static "js/dist/scrub.bundle.js" %}';
</script>
{% endblock scriptmagic %}
{% block content %}
<div class="fhi-page">
{% include "partials/page_title.html" with title="Thank you for your feedback" %}
<div class="fhi-stack">
<p>
  Your feedback helps us improve for the future.
</p>
<p>
  <a href="https://buy.stripe.com/5kA03r2ZwbgebyE7ss" class="fhi-button fhi-button-primary" id="support-our-dev-button" target="_blank" rel="noopener noreferrer">
    Support our Development (optional)
  </a>
</p>

{% include 'partials/share_buttons.html' %}
</div>
</div>
{% endblock content %}
