{% extends 'base.html' %}
{% load static %}
{% load absolute %}
{% block title %}
Fight Health Insurance Consumer Health Data Privacy Notice
{% endblock title %}
{% block content %}
<section id="mhmda">
    <div class="container" style="margin-top: 20px;">
        <div class="section-header text-align-center" style="margin-bottom: 20px;">
            <h3>Fight Health Insurance Consumer Health Data Privacy Notice</h3>
        </div>
        <p>
            This Fight Health Insurance Consumer Health Data Privacy Notice (“<strong>Notice</strong>”) supplements the Fight Health Insurance Privacy Policy and applies to Consumer Health Data (as defined below) subject to the Washington State My Health My Data Act, Nevada’s Consumer Health Data Privacy Law (SB 370), and similar state laws (collectively, “<strong>Consumer Health Data Laws</strong>”).
        </p>
        <p>
            This Notice does not address or apply to “protected health information” (“<strong>PHI</strong>”), which is regulated by the Health Insurance Portability and Accountability Act  (“<strong>HIPAA</strong>”). HIPAA provides specific protections for the privacy and security of PHI. Fight Health Insurance is not a “covered entity” subject to HIPAA. Please review the notice of privacy practices of your health care provider, health plan, and/or plan sponsor to understand how your PHI can be used and disclosed by those entities.
        </p>
        <p>
            This Notice is available to persons with disabilities. To access this Notice in an alternative, downloadable format, please click <a href="{% static 'pdf/fhi_mhmda.pdf' %}" download>here</a>.
        </p>
        <h5>Our Collection and Use of Consumer Health Data</h5>
        <p>
            The term “Consumer Health Data” as used in this Notice means any personal information that is linked or reasonably linkable to you and that identifies your past, present, or future physical or mental health status as defined in the Consumer Health Data Laws. The data we collect depends on the context of your interactions with us and, in most cases, is information that you decide to share with us. Consumer Health Data does not include information that is considered deidentified under the Consumer Health Data Laws. Examples of Consumer Health Data that Fight Health Insurance may collect include:</p>

            <ul><li><p>
                information you share about your health-related conditions, symptoms, experiences, diagnoses, testing, medications, or treatments, including non-applicability of certain conditions or diagnoses</p></li>
            <li><p>
                information that could identify your attempt to seek health care</p></li>
            <li><p>
                information about your health insurance coverage, including relevant ID numbers, copay, and billing information</p></li>
            <li><p>
                other information that may be used to infer or derive data related to the above or other health information</p></li>
            <li><p>
                information listed herein that is derived or extrapolated from information that is not Consumer Health Data, including, without limitation, proxy, derivative, inferred, or emergent data derived through an algorithm, machine learning, or any other means.</p></li>
            </ul>
        </p>
        <p>
            We may process and/or use this information collected online and offline (including with your consent where required by Consumer Health Data Laws) for the following purposes:</p>
            <ul>
            <li><p>
                in the provision of services including our websites and related services
            </p></li>
            <li><p>
                to communicate with you
            </p></li>
            <li><p>
                to identify and authenticate you 
            </p></li>
            <li><p>
                to help ensure security and integrity of our systems to the extent the use of Consumer Health Data is reasonably necessary and proportionate for these purposes
            </p></li>
            <li><p>
            administrative purposes including providing customer service (including online service and virtual chatbots), verifying customer information, providing analytic services, providing storage, or providing similar services
        </p></li>
        <li><p>
            undertaking internal research for technological development and demonstration
        </p></li>
        <li><p>
            undertaking activities to verify or maintain the quality or safety of a service that is owned or controlled by us, and to improve, upgrade, or enhance the service that is owned or controlled by us
        </p></li>
        <li><p>
            to protect against malicious, fraudulent, or illegal activity 
        </p></li>
        <li><p>
            complying with legal and regulatory obligations
        </p></li>
        <li><p>
            for commercial purposes such as to provide investor and investment information
        </p></li>
        <li><p>
            auditing related to counting ad impressions to unique visitors, verifying positioning and quality of ad impressions, and auditing compliance with this specification and other standards
        </p></li>
        <li><p>
            for short-term, transient use 
        </p></li>
        <li><p>
            other purposes we may notify you about or for which you provide your consent or authorization            
        </p></li>
    </ul>
    <h5>Sources From Which Your Consumer Health Data Is Collected</h5>
        <p>
            The Consumer Health Data we collect may come from various sources, including:
            <ul>
                <li><p>you and those authorized to provide Consumer Health Data on your behalf, such as your caregiver or authorized representative.</p></li>
                <li><p>your devices</p></li>
            </ul>
        </p>
        <h5>Our Disclosure of Consumer Health Data</h5>
        <p>
            We may share the categories of Consumer Health Data set forth above as follows:
            <ul>
                <li><p>
                    <strong>Fight Health Insurance and Our Affiliates:</strong> We may share your Consumer Health Data internally or with our affiliates as needed for the purposes listed above. 
                </p></li>
                <li><p>
                    <strong>Service Providers:</strong> We may work with a variety of service providers who help us process your Consumer Health Data, such as to facilitate the provision of the service or that perform business or operational services for us or on our behalf, such as website hosting, infrastructure provisioning, IT services, payment processing services, legal, and administrative services.
                </p></li>
                <li><p>
                    <strong>Business Partners:</strong> We may share your Consumer Health Data with our business partners as needed for the purposes listed above. 
                </p></li>
                <li><p>
                    <strong>Parties with Whom the Consumer Has a Direct Relationship:</strong> We may share with parties with whom the consumer has a direct relationship for the purpose of providing services requested by the consumer, in circumstances where Fight Health Insurance maintains control and ownership of the data and the party only uses the Consumer Health Data at Fight Health Insurance’s direction for the purpose for which the Consumer Health Data was collected or consented to. 
                </p></li>
                <li><p>
                    <strong>Business Transactions:</strong> We may take part in or be involved with a business transaction, such as a merger. We may disclose Consumer Health Data to a third party during the negotiation of or in connection with such a transaction to the extent permitted by applicable law.
                </p></li>
                <li><p>
                    <strong>Legal Obligations and Rights:</strong> We may disclose Consumer Health Data to third parties: in connection with the establishment, exercise, or defense of legal claims; to comply with laws or to respond to lawful requests and legal processes; to protect our rights and property and the rights and property of others, including to enforce our agreements and policies; to detect, suppress, or prevent fraud; to protect the health and safety of us and others; or as otherwise required by applicable law.
                </p></li>
                <li><p>
                    <strong>With Your Consent:</strong> We may disclose Consumer Health Data about you to certain other service providers or publicly with your consent or at your direction.
                </p></li>
            </ul>
        </p>
        <p>
            In the event we process deidentified data, we will maintain and use deidentified data without attempting to reidentify you except as permitted by law and will contractually obligate any recipients of such data to satisfy these criteria. 
        </p>
        <h5>Exercising Your Privacy Rights</h5>
        <p>
            Some Consumer Health Data Laws provide certain rights with respect to Consumer Health Data, including rights to access, delete, or withdraw consent relating to such data, subject to certain exceptions.
        </p>
        <p>
            To exercise any of your privacy rights, or if you have any questions about your privacy rights, please do not hesitate to contact us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>. 
        </p>
        <p>
            We may deny certain requests, or only fulfill some in part, as permitted or required by law. If you are not satisfied with the resolution of your request and you are afforded a right to appeal such decision, you will be notified of our appeal process in our response to your request.
        </p>
        <p>
            While we will always try to assist when you have concerns about the privacy of your Consumer Health Data and appreciate an opportunity to do so, if you have concerns about how we manage your Consumer Health Data or respond to your requests, you may be able to file a complaint with your local data protection authority or privacy regulator.
        </p>
        <p>
            To the extent our use of cookies and similar technologies may constitute Consumer Health Data relating to your interaction with us, you may withdraw consent from collection and future sharing by changing your cookie preferences as described in our Privacy Policy.
        </p>
        <h5>Changes to this Consumer Health Data Privacy Notice</h5>
        <p>
            We reserve the right to modify this Notice at any time. You can see when this Privacy Notice was last revised by referring to the date it was “Last Updated” at the top of the Notice.
        </p>
        <p>
            If you have any questions or comments about our privacy practices or this Notice, or if you would like to receive a copy of this Notice in an alternate format or language, please contact us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>. 
        </p>
        <p><em>Last updated: March 31, 2025</em></p>
    </div>
</section>
{% endblock content %}