{% extends 'base.html' %}
{% block title %}
Fighthealthinsurance Professional Version -- Thank You!
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h2>New Updated Professional Version</h2>
	<h2>Thank you!</h2>
      </div>
      <p>
	Thank you for believing in us! We'll keep follow up shortly. If you have <b>any</b> questions, please reach out to <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>!
      </p>
    </div>
</section>
{% endblock content %}
