{% extends 'base.html' %}
{% block title %}
Fight Health Insurance Professional Version
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h3 class="pro-version-header" style="text-align: center; padding: 15px; margin-top: 10vh;">New Updated Professional Version Available</h3>
      </div>
      <p>
	We have an exciting new option for professionals (providers, revenue cycle management, pharma, etc.) and we'd love to tell you more! Let us know a little bit about you, your common denials, and we'll be in touch to see how we can best help.
      </p>
      <p>
	Not a professional (e.g. providers office, appeal specialist, lawyer, etc.) but still ended up here? Don't worry!
      <a href="{% url 'scan' %}">You can try the regular appeal generator here.</a>
      </p>
      <p>
	<div class="main-form">
	<form method="post">
	  {% csrf_token %}
          <div class="together-form-group">
	    <div>
              <label for="id_name">Name:</label>
              {{ form.name }}
	    </div>
	    <div>
              <label for="id_job_title_or_provider_type">Job title or Provider type:</label>
              {{ form.job_title_or_provider_type}}
	    </div>
          </div>
          <div class="together-form-group">
	    <div>
              <label for="id_email">Email:</label>
              {{ form.email }}
	    </div>
	    <div>
              <label for="id_phone">Phone number:</label>
              {{ form.phone_number }}
	    </div>
          </div>
          <div class="form-group business_name">
            <label for="id_business_name" style="display: block;">Business name:</label>
            {{ form.business_name }}
          </div><br>

          <div class="form-group address">
            <label for="id_address" style="display: block;">Address:</label>
            {{ form.address}}
          </div><br>

          <div class="form-group most_common_denial">
            <label for="id_most_common_denial">Most common denial:</label>
            {{ form.most_common_denial}}
          </div>

          <div class="form-group">
            <label for="id_comments">Comments:</label>
            {{ form.comments}}
          </div>

          <div class="form-group">
	    <input class="pro-submit-btn" type="submit" value="Submit">
          </div>
	</form>
	</div>
      </p>
    </div>
</section>
{% endblock content %}
