{% extends 'base.html' %}
{% block title %}
Unsubscribed from Mailing List
{% endblock title %}
{% block content %}

<!-- UNSUBSCRIBE -->
<section id="unsubscribe">
    <div class="fhi-page fhi-page-centred">
        {% include "partials/page_title.html" with title="Unsubscribed" %}
        {% if error %}
        <p>{{ error }}</p>
        {% elif email %}
        <p>You have been successfully unsubscribed from our mailing list.</p>
        <p>Email <strong>{{ email }}</strong> will no longer receive marketing emails from us.</p>
        {% else %}
        <p>You have been successfully unsubscribed from our mailing list.</p>
        {% endif %}
        <p>
            <a href="/">Return to Home</a>
        </p>
    </div>
</section>

{% endblock content %}
