{% load static %}
<!-- AS FEATURED IN -->
<section id="featured" class="featured-section">
    <div class="container">
        <h5 class="featured-title">As Featured In</h5>
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="row no-gutters featured-row">
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.fastcompany.com/91209422/if-your-health-insurance-denies-a-claim-this-tool-uses-ai-to-help-you-fight-back" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/fastcompanylogo.png' %}" alt="Fast Company logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.cbsnews.com/news/health-insurance-costs-inflation-denials-luigi-mangione-united-healthcare" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/cbslogo.png' %}" alt="CBS logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.forbes.com/sites/amyfeldman/2024/12/11/these-entrepreneurs-are-using-ai-to-fight-health-insurance-claims-denials" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/forbeslogo.png' %}" alt="Forbes logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.wbur.org/hereandnow/2024/11/11/ai-insurance-appeals" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/wbrlogo.png' %}" alt="WBUR logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://armandalegshow.com/episode/fight-health-insurance-with-ai" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/armleglogo.png' %}" alt="Arm & a Leg logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-3">
            <div class="col-md-12">
                <div class="row no-gutters justify-content-center featured-row-highlight">
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.newsnationnow.com/video/fighting-health-insurance-companies-with-ai-newsnation-prime/10025608" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/newsnationlogo.png' %}" alt="NewsNation logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://sfstandard.com/2024/08/23/holden-karau-fight-health-insurance-appeal-claims-denials" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/sflogo.png' %}" alt="SF Standard logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.businessinsider.com/free-health-insurance-claim-denial-appeal-project-startup-2024-12" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/businessinsiderlogo.png' %}" alt="Business Insider logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-2 text-center p-2">
                        <a href="https://www.statnews.com/2024/12/12/artificial-intelligence-appealing-health-insurance-denials" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/statlogo.png' %}" alt="STAT News logo" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
